@if (bars().length) {
  <ul class="component-style-1" aria-label="Emissão de CO₂ por etapa">
    @for (bar of bars(); track bar.emissionId) {
      <li class="component-style-2">
        <span class="component-style-3">{{ bar.label }}</span>
        <div class="component-style-4" role="img" [attr.aria-label]="bar.label + ': ' + bar.co2Kg + ' kg de CO2 equivalente'">
          <div class="component-style-5" [style.width.%]="bar.width"></div>
        </div>
        <span class="component-style-6">{{ bar.co2Kg }} kg</span>
      </li>
    }
  </ul>
} @else {
  <p class="component-style-7">Ainda não há emissões calculadas para este lote.</p>
}
