/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

app-root {
  display: block;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  flex-direction: column;
}

.route-outlet-container {
  display: flex;
  min-width: 0;
  flex: 1 0 auto;
  flex-direction: column;
}

.route-outlet-container > :not(router-outlet) {
  display: flex;
  min-width: 0;
  flex: 1 0 auto;
  flex-direction: column;
}
